html {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-family: "Raleway", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a:active {
    background-color: transparent;
    outline: transparent;
}

a {
    -webkit-tap-highlight-color: transparent;
    /* user-select: none; */
}

.no-scroll {
    overflow: hidden;
}

.body-outer {
    overflow: hidden;
}

:root {
    /* --color-01: #eeecda;
    --color-02: #f08a5d;
    --color-03: #b83b5e;
    --color-04: #6a2c70; */

    /* --color-01: #84a7a1;
    --color-02: #2e8a99;
    --color-03: #1f6e8c;
    --color-04: #0e2954; */

    --color-01: #f8bca3;
    --color-02: #7092c1;
    --color-03: #568bc1;
    --color-04: #1e152a;

    /* --color-04: #536BA4; */

    --color-05-green: #76b041;

    --language-svg-height: 6rem;

    /* RESTORAUNT PALETTE */

    --color11: #f6f6f6;
    --color12: #d9cab3;
    --color13: #6d9886;
    --color14: #212121;
}

html {
    position: relative;
}

::-webkit-scrollbar {
    width: 1.2rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(
        --color-02
    ); /* Replace with your desired color code */
}

::-webkit-scrollbar-track {
    background-color: var(--color-04);
}

/* TODO: THEMES */

.body-outer-01.dark-theme {
    filter: hue-rotate(25deg) invert();
}

.head-outer.dark-theme {
    filter: invert();
}

.body-container {
    width: 100%;
    /* height: 1000rem; */
    background-color: var(--color-01);
    position: relative;
}

.head-outer {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 1rem;
    height: 6rem;
    background-color: var(--color-04);
    transition: height 0.2s ease-in-out;
    z-index: 3;
}

.head-outer header {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    justify-items: center;
    align-items: start;
    box-sizing: border-box;
    z-index: 4;
    filter: initial;
    position: relative;
}

.head-outer a:not(.nav-link-logo):not(.nav-link-sandwich):not(.current) {
    color: var(--color-02);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.head-outer .current {
    color: var(--color-03);
    font-size: 2.1rem;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.head-outer .current::after {
    content: "";
    position: absolute;
    bottom: 1.5rem;
    background-color: var(--color-03);
    height: 0.2rem;
    left: 0;
    right: 0;
}

/* if introducing login, change the 5th child to sixth */
.head-outer
    a:hover:not(:nth-child(4)):not(:nth-child(6)):not(.current)::before {
    content: "";
    position: absolute;
    bottom: 1.5rem;
    background-color: var(--color-03);
    height: 0.2rem;
    left: 0;
    right: 0;
}

.head-outer .nav-link-sandwich {
    display: none;
    padding: 0;
}

.head-outer .nav-link-logo,
.foot-logo {
    height: 6rem;
    width: 6rem;
    background-position: center center;
    background-size: 150%;
    background-repeat: no-repeat;
    background-image: url(/oleg_official/IMG/PNG/optimized/oleg_logo-removebg.png);
    transition: all 0.2s ease-in-out;
}

.head-outer a {
    line-height: 6rem;
}
/* 
#language-form{
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 3rem;

}

.language-it, .language-fr, .language-en{
    width: initial;
    box-shadow: initial;
    height: initial;
    cursor: pointer;
    
}

.language-it, .language-en, .language-fr{
    height: 6rem;
    width: 6rem;
    border-radius: 6rem;
    padding: 0;
    box-sizing: border-box;
    margin-top: 2.5rem;
    user-select: none;
}

.language-it{
    display: none;
    color: transparent;
    background-image: url(/oleg_official/IMG/SVG/flags/italy-flag.svg);
    z-index: 10;
    border: none;
    outline: none;
    background-color: transparent;

}

.language-en{
    display: none;
    color: transparent;
    background-image: url(/oleg_official/IMG/SVG/flags/uk-flag.svg);
    background-size: 103%;
    z-index: 2;
}

.language-fr{
    display: none;
    color: transparent;
    background-image: url(/oleg_official/IMG/SVG/flags/france-flag.svg);
    background-size: cover;
    z-index: 1;
}

.language-selected{
    display: block !important;
    margin: 0;
}

.visible{
    margin-top: 2.5rem;
    display: block;
} 
*/

/* BODY ******************************************************************************************************************** */

.body-outer {
    width: 100%;
    height: 100%;
}

.body-outer-01,
.body-work-outer-01,
.body-about-outer-01,
.body-login-outer-01 {
    position: relative;
    width: 100%;
    height: 100%;

    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.2) 8%,
            rgba(255, 255, 255, 0.2) 92%,
            rgba(255, 255, 255, 0) 100%
        ),
        url(/oleg_official/IMG/PNG/optimized/b-background-01.jpg);
    box-sizing: border-box;
}

.body-01-01,
.body-01-02,
.body-01-03 {
    width: 100%;
    max-width: 150rem;
    height: 100vh;
    padding-top: 2rem;
    margin: 0 auto;
    overflow: visible;
    padding: 4rem 5rem 0rem 5rem;
    position: relative;
    z-index: 2;
    /* overflow: hidden; */
}

.body-01-02,
.body-01-03 {
    height: initial;
    position: relative;
}

.body-login-outer-01 .body-01-01 {
    padding-top: 15rem;
    height: initial;
}

.body-01-01-content {
    color: var(--color-04);
    line-height: 9rem;
    font-size: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.body-01-01-content h1 {
    z-index: 5;
}

.body-01-02-content,
.body-01-03-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-04);
    text-align: center;
}

.body-01-02-floating-text {
    /* width: 100%; */
    /* background-color: green; */
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
}

.body-01-02-floating-text ul {
    /* display: flex; */
    justify-content: space-between;
    font-size: 2.4rem;
    font-weight: 200;
    text-transform: uppercase;
    width: 150rem;
    /* overflow: hidden; */
    animation: loop 8s linear infinite;
    display: inline-flex;
    padding-right: 4.5rem;
}

.body-01-02-floating-text ul li {
    position: relative;
    width: max-content;
    animation: float 2s ease-in-out infinite;
}

@keyframes loop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.body-01-02-floating-text ul li::before {
    position: absolute;
    content: "";
    left: -1.25rem;
    bottom: 0.8rem;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 0.4rem;
    background-color: var(--color-04);
}

.body-01-02-floating-text ul li:nth-child(1)::before {
    z-index: 100;
}

.card-title-01,
.card-title-02,
.card-title-email {
    font-size: 5rem;
    position: relative;
    text-align: center;
    color: var(--color-04);
}

.card-title-01::before,
.card-title-02::before,
.card-title-email::before {
    position: absolute;
    content: "";
    top: 6rem;
    height: 0.5rem;
    background-color: var(--color-04);
    left: 0;
    right: 0;
}

.body-01-02-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content;
    row-gap: 4rem;
    column-gap: 4rem;
}

.body-01-02-grid li {
    width: 100%;
    border-radius: 2rem;
    /* box-shadow:  1rem 1rem 2rem -.5rem var(--color-04),  -1rem -1rem 2rem -.5rem white; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 2rem;
    position: relative;
}

.card-content {
    padding-bottom: 2rem;
}

.work-card-img {
    /* display: none; */
    position: absolute;
    left: 0;
    right: 0;
    height: 30rem;
    margin: 2.5rem 0;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem -0.8rem var(--color-04),
        -1rem -1rem 1rem -0.8rem white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color14); */
}

.card-content:nth-child(1) .work-card-img {
    background-image: url(/oleg_official/IMG/PNG/Elegantee\ -\ Google\ Chrome\ 8_31_2023\ 12_49_34\ AM.png);
    background-size: cover;
}

.work-card-link {
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem -0.8rem var(--color-04),
        -1rem -1rem 1rem -0.8rem white;
    background-color: rgba(0, 128, 0, 0.7);
    color: var(--color-04);
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 35rem;
    position: relative;
    padding: 0 2.5rem;
}

.card-content h1 {
    font-size: 2.2rem;
    padding: 0;
    text-align: start;
    padding-bottom: 0.4rem;
    color: var(--color-04);
    font-weight: 600;
}

.card-content p {
    text-align: start;
    font-size: 1.8rem;
}

/* fucking form motherfucker */

#form_login_registration {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

#form_login_registration label {
    padding-top: 5rem;
    text-align: start;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    opacity: 0.9;
    animation: fadeIn 1s;
    opacity: 1;
}

input,
textarea {
    width: 100%;
    max-width: 150rem;
    height: 5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    padding: 0rem 2rem;
    font-size: 2.2rem;
    color: var(--color-04);
    background-color: transparent;
    box-shadow: 0.6rem 0.6rem 1rem -0.8rem var(--color-04),
        -0.6rem -0.6rem 1rem -0.8rem white;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    animation: fadeIn 1s;
    opacity: 1;
}

textarea {
    height: 30rem;
    padding-top: 2rem;
}

/* setting the general styles for the buttons in home to send email and in login to log in */
#home_contact_form_submit,
#home_contact_send_message {
    background-color: var(--color-05-green);
    margin-top: 5rem;
    width: 100%;
    margin: 5rem auto 0 auto;
    color: var(--color-04);
    max-width: 30rem;
}

#home_contact_form_toggle {
    background-color: var(--color-03);
    margin: 5rem auto 0 auto;
    color: var(--color-04);
    text-decoration: underline;
    width: 100%;
    max-width: 30rem;
}

/* default labels+inputs for the login */

#home_contact_date_label,
#home_contact_date,
#home_contact_password2_label,
#home_contact_password2 {
    display: none;
}



/* footer ******************************************************************************************************************** */

.foot-outer {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-04);
}

.foot-outer-150 {
    width: 100%;
    max-width: 150rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
}

.foot-outer-150 .social {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.foot-outer-150 .address,
.foot-outer-150 .legal {
    width: 100%;
    color: var(--color-03);
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    cursor: pointer;
}

/* language stuff */

.language-container {
    align-self: center;
    width: 3rem;
    height: 3rem;
    background-image: url(/oleg_official/IMG/SVG/flags/uk-flag.svg);
    background-size: cover;
    border-radius: 2.5rem;
    cursor: pointer;
    margin-right: 2.5rem;
}

.language-button {
    display: none;
    margin-top: 5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 2.5rem;
    border: none;
    user-select: none;
}

.language-container.langs-visible .language-button {
    display: block;
}

.language-button-it {
    background-image: url(/oleg_official/IMG/SVG/flags/italy-flag.svg);
    background-size: cover;
    margin-top: 6rem;
}

.language-button-en {
    background-image: url(/oleg_official/IMG/SVG/flags/uk-flag.svg);
    background-size: cover;
    margin-top: 3rem;
}



.foot-outer-150 .address {
    height: 25%;
    align-items: start;
    padding-top: 2rem;
}

.foot-outer-150 .foot-logo {
    height: 50%;
    width: 15rem;
    z-index: 2;
}

.foot-outer-150 .address::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.1rem;
    background-color: var(--color-02);
    bottom: 0;
}

.foot-outer-150 .legal {
    width: 100%;
    height: 20%;
    font-size: 1.6rem;
    text-decoration: underline;
    font-style: italic;
}

.social a {
    position: relative;
    overflow: hidden;
}

.social svg {
    fill: var(--color-02);
    height: 3rem;
    width: 3rem;
    z-index: 10;
}

.social a:nth-child(1)::before {
    position: absolute;
    content: "";
    left: -6rem;
    bottom: 50%;
    height: 0.1rem;
    width: 5rem;
    background-color: var(--color-03);
}

.social a:nth-child(2)::before {
    position: absolute;
    content: "";
    left: -1rem;
    bottom: 0;
    height: 100%;
    width: 0.1rem;
    background-color: var(--color-03);
}

.social a:nth-child(3)::before {
    position: absolute;
    content: "";
    left: -1rem;
    bottom: 0;
    height: 100%;
    width: 0.1rem;
    background-color: var(--color-03);
}

.social a:nth-child(4)::before {
    position: absolute;
    content: "";
    left: -1rem;
    bottom: 0;
    height: 100%;
    width: 0.1rem;
    background-color: var(--color-03);
}

.social a:nth-child(4)::after {
    position: absolute;
    content: "";
    right: -6rem;
    bottom: 50%;
    height: 0.1rem;
    width: 5rem;
    background-color: var(--color-03);
}

.foot-outer-150 svg:hover,
.address:hover {
    color: white;
    fill: white;
}

/* Animation for fading in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 1000px) {
    .head-outer header {
        grid-template-columns: 6rem 5fr 6rem;
    }

    .head-outer a:not(.nav-link-logo):not(.nav-link-sandwich) {
        display: none;
    }

    .head-outer.pressed {
        height: 100vh;
        background-size: cover;
        filter: opacity(100%);
        transition: height 0.2s ease-in-out;
    }

    .head-outer.pressed
        a:not(.nav-link-logo):not(.nav-link-sandwich):not(.current) {
        font-size: 3rem;
    }

    .head-outer.pressed header {
        grid-template-rows: 10rem 15rem 6rem 6rem 6rem 10rem;
    }

    /* Apply the fadeIn animation to pressed links */
    .head-outer.pressed a.nav-link-home,
    .head-outer.pressed a.nav-link-work,
    .head-outer.pressed a.nav-link-about,
    .head-outer.pressed a.nav-link-login {
        display: initial; /* Initially set to display: none */
        font-size: 3rem;
        padding: 0.5rem 0;
        opacity: 0; /* Initially set to opacity: 0 */
        animation-name: fadeIn;
        animation-duration: 0.2s;
        animation-delay: 0.2s; /* Add a 1s delay before the animation starts */
        animation-fill-mode: forwards;
    }

    .head-outer.pressed .nav-link-home {
        grid-column: span 3;
        grid-row: 3;
    }

    .head-outer.pressed .nav-link-work {
        grid-column: span 3;
        grid-row: 4;
    }

    .head-outer.pressed .nav-link-about {
        grid-column: span 3;
        grid-row: 5;
    }

    .head-outer.pressed .nav-link-logo {
        grid-column: span 3;
        grid-row: 2;
        width: 15rem;
        height: 15rem;
        transition: all 0.4s ease-in-out;
    }

    .head-outer.pressed .nav-link-login {
        grid-column: span 3;
        grid-row: 6;
    }

    .head-outer .nav-link-sandwich {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 3;
        height: 6rem;
        width: 6rem;
        /* position: relative; */
    }

    .head-outer .nav-link-sandwich span {
        font-weight: 400;
        width: 3rem;
        height: 0.2rem;
        background-color: var(--color-02);
        margin: 0.3rem auto;
        /* border-radius: 50%; */
        transition: all 0.4s ease-out;
    }

    /* sandwich menu animation using spans */

    .head-outer.pressed .nav-link-sandwich span:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg);
    }

    .head-outer.pressed .nav-link-sandwich span:nth-child(2) {
        opacity: 0;
    }

    .head-outer.pressed .nav-link-sandwich span:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg);
    }

    .img-footer {
        background-size: 275%;
        background-position: 90% top;
    }

    .language-container {
        justify-self: end;
    }

    .pressed .language-container {
        
        justify-self: center;
        align-self: flex-end;
        margin-right: 0;
        grid-row: 6;
        grid-column: 2;
    }
}

@media screen and (max-width: 850px) {
    .body-01-02-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);
    }
}

@media screen and (max-width: 725px) {
    .body-01-01-content {
        line-height: 8rem;
        font-size: 4rem;
    }

    .body-01-01,
    .body-01-02,
    .body-01-03 {
        padding: 6rem 2rem 5rem 2rem;
    }
    .body-01-02,
    .body-01-03 {
        padding: 6rem 2rem 0 2rem;
    }

    .img01,
    .img02,
    .img06,
    .img07 {
        width: 100%;
        height: 60rem;
    }

    .img01,
    .img06 {
        bottom: 70%;
    }

    .img02,
    .img07 {
        bottom: 80%;
    }

    .card-title::before {
        left: 50%;
        transform: translateX(-50%);
        top: 12rem;
    }

    .img-footer {
        background-size: 400%;
        background-position: 90% top;
    }

    .work-card-img {
        left: -2rem;
        right: -2rem;
        height: 30rem;
        margin: 2.5rem auto;
    }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 624px) {
    .body-outer-01,
    .body-work-outer-01,
    .body-about-outer-01 {
        background-size: 200%;
    }

    .head-outer {
        background-size: cover;
    }
}

@media screen and (max-width: 475px) {
    .body-01-01-content {
        line-height: 6rem;
        font-size: 3rem;
    }

    .body-01-01,
    .body-01-02,
    .body-01-03 {
        padding: 4rem 2rem 4rem 2rem;
    }

    .body-01-02,
    .body-01-03 {
        padding: 4rem 2rem 0rem 2rem;
    }

    .card-title::before {
        left: 50%;
        transform: translateX(-50%);
        top: 10rem;
    }
}

@media screen and (max-width: 450px) {
    .img-footer {
        background-size: 1000%;
        background-position: 90% top;
    }

    .card-title-email,
    .card-title-01 {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 400px) {
    .img01,
    .img02,
    .img06,
    .img07 {
        width: 125%;
        height: 45rem;
    }

    .img01,
    .img06 {
        bottom: 70%;
    }

    .img02,
    .img07 {
        bottom: 80%;
    }

    /* .card-title-01,
    .card-title-02,
    .card-title-email {
        height: 120rem;
        font-size: 4rem;
    } */

    .body-01-02-grid li {
        padding: 1rem 1rem;
    }

    .card-title-01::before,
    .card-title-02::before,
    .card-title-email::before {
        top: 5rem;
    }

    .body-01-01-content {
        line-height: 6rem;
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 350px) {
    .card-title-01::before,
    .card-title-02::before {
        top: 4rem;
    }

    .card-title-01,
    .card-title-02,
    .card-title-email {
        /* height: 120rem; */
        font-size: 3rem;
    }
}
