html * {
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --color-01: #eeecda;
    --color-02: #f08a5d;
    --color-03: #b83b5e;
    --color-04: #6a2c70;
}

.body-container {
    width: 100%;
    height: 500rem;
    background-color: var(--color-01);
}

.head-outer {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 1rem;
    height: 5rem;
    background-image: url(/IMG/PNG/oleg_bucolo_impressionist_navigation_bar_for_website_676609c6-e24c-4e11-a0a0-74efa6c165e2.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 140%;
    z-index: 2;
    filter: opacity(90%);
}

.head-outer header {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.head-outer a {
    padding: 1rem 2rem;
    color: var(--color-04);
    font-size: 1.6rem;
    text-transform: uppercase;
}

.head-outer .nav-link-sandwich {
    display: none;
    padding: 0;
}

.head-outer a:hover {
    color: var(--color-03);
}

.head-outer .nav-link-logo {
    height: 5rem;
    width: 5rem;
    background-position: center center;
    background-size: 150%;
    background-repeat: no-repeat;
    background-image: url(/IMG/PNG/oleg_logo-removebg.png);
}

/* BODY */

.body-outer {
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    background-position: center top;
    background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 5%,
            rgba(238, 236, 218, 0.8) 10%,
            rgba(238, 236, 218, 0.8) 90%,
            rgba(255, 255, 255, 0) 100%
        ),
        url(/IMG/PNG/forest-tile.png);
    /* background-image: url(/IMG/PNG/forest-tile.png); */
}



@media screen and (max-width: 600px) {
    .head-outer {
        background-size: cover;
    }
}

@media screen and (max-width: 1000px) {
    .head-outer header {
        grid-template-columns: 80px 5fr 80px;
    }

    .head-outer a:not(.nav-link-logo):not(.nav-link-sandwich) {
        display: none;
    }

    .head-outer.pressed {
        height: 100vh;
        background-size: cover;
    }

    .head-outer.pressed header {
        grid-template-rows: 5rem 15rem 5rem 5rem 5rem 5rem;
    }

    .head-outer.pressed a.nav-link-home, .head-outer.pressed a.nav-link-work, .head-outer.pressed a.nav-link-about, .head-outer.pressed a.nav-link-login{
        display: initial;
        font-size: 2.5rem;
        padding: .5rem 0;
    }

    .head-outer.pressed .nav-link-home{
        
        grid-column: span 3;
        grid-row: 3;
    }

    .head-outer.pressed .nav-link-work{
        grid-column: span 3;
        grid-row: 4;
    }

    .head-outer.pressed .nav-link-about{
        grid-column: span 3;
        grid-row: 5;
    }

    .head-outer.pressed .nav-link-logo{
        grid-column: span 3;
        grid-row: 2;
        width: 10rem;
        height: 10rem;
        
    }

    .head-outer.pressed .nav-link-login{
        grid-column: span 3;
        grid-row: 6;
    }

    .head-outer .nav-link-sandwich {
        display: initial;
        grid-column: 3;
        height: 5rem;
        width: 5rem;
        position: relative;
    }

    .head-outer .nav-link-sandwich span:first-child {
        position: absolute;
        font-size: 4rem;
        font-weight: 400;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        line-height: 0;
    }

    .head-outer .nav-link-sandwich span:last-child {
        position: absolute;
        font-size: 4rem;
        top: 20%;
        font-weight: 400;

        left: 50%;
        transform: translateX(-50%);
        line-height: 0;
    }

    /* .head-outer .sandwich span:last-child{
        position: absolute;
        font-size: 2rem;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 0;
    }     */


}

