html {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-family: "Raleway", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a:active {
    background-color: transparent;
    outline: transparent;
}

a {
    -webkit-tap-highlight-color: transparent;
    /* user-select: none; */
}

.no-scroll {
    overflow: hidden;
}

:root {
    /* --color-01: #eeecda;
    --color-02: #f08a5d;
    --color-03: #b83b5e;
    --color-04: #6a2c70; */

    --color-01: #84a7a1;
    --color-02: #2e8a99;
    --color-03: #1f6e8c;
    --color-04: #0e2954;
}

/* TODO: THEMES */

.body-outer-01.dark-theme {
    filter: hue-rotate(25deg) invert();
}

.head-outer.dark-theme {
    filter: invert();
}

.body-container {
    width: 100%;
    height: 1000rem;
    background-color: var(--color-01);
}

.head-outer {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 1rem;
    height: 6rem;
    background-image: url(/IMG/PNG/optimized/nav-01.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 140%;
    z-index: 2;
    filter: opacity(90%);
    transition: height 0.2s ease-in-out;
}

.head-outer header {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    justify-items: center;
    align-items: start;
    box-sizing: border-box;
}

.head-outer a:not(.nav-link-logo):not(.nav-link-sandwich):not(.current) {
    color: var(--color-04);
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
}

.head-outer .current {
    color: var(--color-03);
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.head-outer .current::after {
    content: "";
    position: absolute;
    bottom: 1.5rem;
    background-color: var(--color-03);
    height: 0.2rem;
    left: 0;
    right: 0;
}

.head-outer
    a:hover:not(:nth-child(4)):not(:nth-child(6)):not(.current)::before {
    content: "";
    position: absolute;
    bottom: 1.5rem;
    background-color: var(--color-03);
    height: 0.2rem;
    left: 0;
    right: 0;
}

.head-outer .nav-link-sandwich {
    display: none;
    padding: 0;
}

.head-outer .nav-link-logo {
    height: 6rem;
    width: 6rem;
    background-position: center center;
    background-size: 150%;
    background-repeat: no-repeat;
    background-image: url(/IMG/PNG/optimized/oleg_logo-removebg.png);
    transition: all 0.2s ease-in-out;
}

.head-outer a {
    line-height: 6rem;
}

/* BODY */

.body-outer {
    width: 100%;
    height: 100%;
}

.body-outer-01 {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-size: 250%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.7) 8%,
            rgba(255, 255, 255, 0.7) 92%,
            rgba(255, 255, 255, 0) 100%
        ),
        url(/IMG/PNG/optimized/b-background-01.jpg);
}

.body-01-01,
.body-01-02,
.body-01-03 {
    width: 100%;
    max-width: 150rem;
    height: 100vh;
    padding-top: 2rem;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    padding: 4rem 5rem 0rem 5rem;
}

.body-01-02 {
    height: initial;
}

.body-01-03 {
    height: initial;
}

.img01 {
    position: absolute;
    bottom: 30%;
    transform: translateY(50%);
    left: 0;
    height: 100%;
    width: 50%;
    background-image: url(/IMG/PNG/optimized/home/img01-large.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: opacity(60%) blur(0.4rem);
    pointer-events: none;
}

.img02 {
    position: absolute;
    bottom: 70%;
    transform: translateY(50%);
    right: 0;
    height: 100%;
    width: 50%;
    background-image: url(/IMG/PNG/optimized/home/img02-large.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    filter: opacity(50%) blur(0.4rem);
    pointer-events: none;
}

.body-01-01-content {
    color: var(--color-04);
    line-height: 9rem;
    font-size: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    user-select: none;
}

.body-01-02-content,
.body-01-03-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--color-04);
    text-align: center;
}

.card-title-01,
.card-title-02,
.card-title-email {
    font-size: 5rem;
    position: relative;
}

.card-title-01::before,
.card-title-02::before,
.card-title-email::before {
    position: absolute;
    content: "";
    top: 6rem;
    height: 0.5rem;
    background-color: #0e2954;
    left: 0;
    right: 0;
}

.body-01-02-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(2, min-content);
    row-gap: 4rem;
    column-gap: 4rem;
}

.body-01-02-grid li {
    width: 100%;
    border-radius: 2rem;
    /* box-shadow:  1rem 1rem 2rem -.5rem var(--color-04),  -1rem -1rem 2rem -.5rem white; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem 3rem;
}

.card-content {
    padding-bottom: 2rem;
}

/* TODO: */

.card-content h1 {
    font-size: 2.2rem;
    padding: 0;
    text-align: start;
    padding-bottom: 0.4rem;
    color: var(--color-04);
}

.card-content p {
    text-align: start;
    font-size: 1.8rem;
}

.card-title-email {
    color: var(--color-04);
}

.home_contact_form {
    /* height: 50rem; */
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    /* background-color: var(--color-03); */
    display: flex;
    flex-direction: column;
}

.home_contact_form label {
    padding-top: 5rem;
    text-align: start;
    font-size: 2.8rem;
    padding-bottom: 1rem;
    opacity: .9;
}

.home_contact_form input, textarea {
    width: 100%;
    max-width: 150rem;
    height: 5rem;
    border: none;
    border-radius: 1rem;
    opacity: 0.5;
    outline: none;
    padding: 0rem 2rem;
    font-size: 2rem;
    color: var(--color-04);
    background-color: transparent;
    box-shadow: 1rem 1rem 1rem -.8rem var(--color-04), -1rem -1rem 1rem -.8rem white;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    
}

@keyframes inputHeight {
    0% { height: 5.2rem;}
    25% { height: 6rem;}
    100% { height: 5.2rem;}
}

@keyframes textareaHeight {
    
    25% { height: 35rem;}
    
}

.home_contact_form input {
    height: 5rem;
}

.home_contact_form textarea {
    height: 30rem;
    display: flex;
    padding-top: 2rem;
}

.home_contact_form input:focus{
    /* height: 6rem; */
    /* transition: height .4s ease-in-out; */
    animation: inputHeight 1s ;
    transition: width 0.4s ease;

}

.home_contact_form textarea:focus {
    /* height: 32rem; */
    transition: height .4s ease-in-out;
    animation: textareaHeight 1s ;

}

#home_contact_name {
}

/* TODO: */

/* *::-webkit-scrollbar {
    display: none;
} */

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 1000px) {
    .head-outer header {
        grid-template-columns: 6rem 5fr 6rem;
    }

    .head-outer a:not(.nav-link-logo):not(.nav-link-sandwich) {
        display: none;
    }

    .head-outer.pressed {
        height: 100vh;
        background-size: cover;
        filter: opacity(100%);
        transition: height 0.2s ease-in-out;
    }

    .head-outer.pressed header {
        grid-template-rows: 6rem 10rem 6rem 6rem 6rem 6rem;
    }

    /* Animation for fading in */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Apply the fadeIn animation to pressed links */
    .head-outer.pressed a.nav-link-home,
    .head-outer.pressed a.nav-link-work,
    .head-outer.pressed a.nav-link-about,
    .head-outer.pressed a.nav-link-login {
        display: initial; /* Initially set to display: none */
        font-size: 2.5rem;
        padding: 0.5rem 0;
        opacity: 0; /* Initially set to opacity: 0 */
        animation-name: fadeIn;
        animation-duration: 0.2s;
        animation-delay: 0.2s; /* Add a 1s delay before the animation starts */
        animation-fill-mode: forwards;
    }

    .head-outer.pressed .nav-link-home {
        grid-column: span 3;
        grid-row: 3;
    }

    .head-outer.pressed .nav-link-work {
        grid-column: span 3;
        grid-row: 4;
    }

    .head-outer.pressed .nav-link-about {
        grid-column: span 3;
        grid-row: 5;
    }

    .head-outer.pressed .nav-link-logo {
        grid-column: span 3;
        grid-row: 2;
        width: 10rem;
        height: 10rem;
        transition: all 0.4s ease-in-out;
    }

    .head-outer.pressed .nav-link-login {
        grid-column: span 3;
        grid-row: 6;
    }

    .head-outer .nav-link-sandwich {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 3;
        height: 6rem;
        width: 6rem;
        /* position: relative; */
    }

    .head-outer .nav-link-sandwich span {
        font-weight: 400;
        width: 3rem;
        height: 0.2rem;
        background-color: var(--color-04);
        margin: 0.3rem auto;
        /* border-radius: 50%; */
        transition: all 0.4s ease-out;
    }

    /* sandwich menu animation using spans */

    .head-outer.pressed .nav-link-sandwich span:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg);
    }

    .head-outer.pressed .nav-link-sandwich span:nth-child(2) {
        opacity: 0;
    }

    .head-outer.pressed .nav-link-sandwich span:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg);
    }
}

@media screen and (max-width: 850px) {
    .body-01-02-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
    }
}

@media screen and (max-width: 725px) {
    .body-01-01-content {
        line-height: 8rem;
        font-size: 4rem;
    }

    .body-01-01,
    .body-01-02,
    .body-01-03 {
        padding: 6rem 2rem 0 2rem;
    }

    .img01 {
        width: 75%;
    }

    .img02 {
        width: 75%;
    }

    .card-title::before {
        left: 50%;
        transform: translateX(-50%);
        top: 12rem;
    }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 624px) {
    .body-outer-01 {
        background-size: 150%;
    }

    .head-outer {
        background-size: cover;
    }
}

@media screen and (max-width: 475px) {
    .body-01-01-content {
        line-height: 6rem;
        font-size: 9vw;
    }

    .body-01-01,
    .body-01-02,
    .body-01-03 {
        padding: 4rem 1rem 0 1rem;
    }

    .card-title::before {
        left: 50%;
        transform: translateX(-50%);
        top: 10rem;
    }
}

@media screen and (max-width: 450px) {
}

@media screen and (max-width: 400px) {
    .img01 {
        width: 80%;
    }
    .img02 {
        width: 80%;
    }

    .card-title-01,
    .card-title-02,
    .card-title-email {
        /* height: 120rem; */
        font-size: 4rem;
    }

    .card-title-01::before,
    .card-title-02::before,
    .card-title-email::before {
        top: 5rem;
    }
}

@media screen and (max-width: 350px) {
    .card-title-01::before,
    .card-title-02::before {
        top: 4rem;
    }

    .card-title-01,
    .card-title-02,
    .card-title-email {
        /* height: 120rem; */
        font-size: 3rem;
    }
}

@media screen and (max-width: 325px) {
    .body-01-01-content {
        padding: 0 0 0 1rem;
        color: var(--color-04);
        line-height: 5rem;
    }
}
